a{
	color: #C1A55B
}
.nav>li>a:hover, .nav>li>a:focus, .nav>li>a:hover, .sidebar ul li a.active{
	background-color: #C1A55B;
	color: #fff;
}

.ban-upload{
	display: none;
	float: right;
	margin-right: 4px
}
span.unotif{
	float: right;
}
.btn-head{
	float: right
}
.tbl-non{
	width: 700px;
}
.tbl-non>tbody>tr>td{
	border-top: 0px;
}
input.error, select.error, textarea.error{
	border: 1px solid #cc0000 !important;
}
.required{
  color: #cc0000;
}
.rmcat{
	float: right
}
.rmcat:hover{
	color: #cc0000;
}
.error{
	color: #cc0000;
}
.cke_contents.cke_reset{
	height: 500px !important;
}