@media(min-width: 768){
	.container{
		width: 100%;
	}
}
.fr{
	float: right;
}
.rvcomment{
	cursor: pointer;
}
.rvcomment:hover{
	color: #cc0000 !important;
}
.pluginButton{
	background: red !important
}